<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en"/>
<body>
<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                    <ul class="nav navbar-nav">
                        <li th:if="${parentFolder != null}">
                            <a href="#" th:href="${'/folder/' + parentFolder.id}">Back</a></li>
                        <li th:if="${parentFolder == null and currentFolder != null}">
                            <a href="#" th:href="${'/folder'}">Back</a></li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li th:if="${currentFolder == null}">
                            <a href="#" th:href="@{/folder/create}">Create Folder</a></li>
                        <li th:if="${currentFolder != null}">
                            <a href="#" th:href="${'/folder/'+ currentFolder.id +'/create'}">Create Folder</a></li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li th:if="${currentFolder == null}">
                            <a href="#" th:href="@{/folder/file/upload}">Upload File</a></li>
                        <li th:if="${currentFolder != null}">
                            <a href="#" th:href="${'/folder/'+ currentFolder.id +'/file/upload'}">Upload File</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
</body>
</html>