<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <th:block th:include="fragments/headerinc :: head"></th:block>
</head>
<body>
<div class="container">
    <th:block th:include="fragments/header :: header"></th:block>

    <div th:if="${currentFolder != null}">
        <h2 th:text="${currentFolder.name}"/>
    </div>
    <div th:if="${currentFolder == null}">
            <h2>Root folder</h2>
    </div>
    <div th:if="${not #lists.isEmpty(folders) or not #lists.isEmpty(files)}">
        <table class="table table-striped">
            <tr>
                <th/>
                <th>Name</th>
                <th>Size</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="folder : ${folders}">
                <td><img src="/images/folder.png" alt=""></img></td>
                <td><a th:text="${folder.name}" th:href="${'/folder/' + folder.id}"/></td>
                <td/>
                <td><a th:href="${'/folder/edit/' + folder.id}">Edit</a></td>
                <td><a th:href="${'/folder/delete/' + folder.id}">Delete</a></td>
            </tr>
            <tr th:each="file : ${files}">
                <td><img src="/images/file.png" alt=""></img></td>
                <td><a th:text="${file.name}" th:href="${'/file/' + file.id}"/></td>
                <td th:text="${file.size}"/>
                <td><a th:href="${'/file/edit/' + file.id}">Edit</a></td>
                <td><a th:href="${'/file/delete/' + file.id}">Delete</a></td>
            </tr>
        </table>

    </div>
</div>
</body>
</html>